:root {
    --color-primary: #1a9f60;
    --color-lightGrey: #d2d6dd;
    --color-grey: #7e818b;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 100vw;
    /* --grid-maxWidth: 120rem; */
    --grid-gutter: 0.5rem;
    --font-size: 1.6rem;
    --font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next",
                   "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                   "Droid Sans", "Helvetica Neue", sans-serif;
    --color-lightestGrey: #e0e4dd;
 

}

/* .container { */
/*     display: flex; */
/*     flex-direction: column; */
/*     min-height: 100vh; */
/*     min-width: 100vw; */
/* } */


/* main { */
/*     /\* display: grid; *\/ */
/*     /\* grid-template-areas: "article aside"; *\/ */
/*     flex-grow: 1; */
/* } */
body {
    background-color: var(--color-lightestGrey);

    }

main {
    background-color: var(--color-lightestGrey);
    display: grid;
    grid-template-areas: "nav          nav       nav        nav    "
                         "description  article   article    sidebar"
                         "description  pictures  pictures   sidebar"
                         "footer       footer    footer     footer ";
    min-height: 100vh;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 5rem auto auto minmax(5rem,auto);
    grid-gap: 3rem;
}

main>* {
    padding-left: 1rem;
}
main>header {
    grid-area: nav;
}

main>article {
    grid-area: article;
}

main  .pictures {
    grid-area: pictures;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 20rem));
    grid-gap: 1rem;
}

main > section.description {
    grid-area: description;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}


main>aside.sidebar {
    grid-area: sidebar;
}

main>footer.site-footer {
    grid-area: footer;
} 
main > * {
    /* border: 1px solid black; */
    background-color: var(--color-lightestGrey);
}


header.site-header {
    background-color: var(--color-lightGrey);
}

footer.site-footer {
    background-color: var(--color-lightGrey);
    
}


.pull-left {
    margin-right: 2rem;
}
