
body {
    background-color: inherit;

    }
div#outside-container, body {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: violet;
}
main {
    
    background-color: inherit;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center; 
}

main > * {
    padding: 15px;
}
main > section.description {
    flex-basis: 25%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: stretch;
}

main > article {
    flex-basis: 66%;
    padding-bottom: 0px;
}

main>.sidebar {
    flex-basis: 33%;
    background-color: palegreen;
}

.pictures {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: stretch;
    align-items:
}


.pictures > img {
    margin: 10px;
    flex-basis: 30%;
    flex-grow: 1;
}

header.site-header {
    background-color: gold;
}

footer.site-footer {
    background-color: gold;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    
}

.pull-left {
    margin-right: 2rem;
}
